<%= form_for(@song) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :artists %>
  <div class="input-field browser-default">
    <%= f.collection_select :artist_id, Artist.all, :id, :name, {}, {class: "browser-default"} %>
  </div>
    <%= f.label :category_id %>
  <div class="input-field browser-default">
    <%= f.collection_select :category_id, Category.all, :id, :name, {}, {name: "Category", class: "browser-default"} %>
  </div>
  <%= f.hidden_field(:user_id, :value => current_user.id) if current_user %>
  <%= f.submit %>
<% end  %>
