<!DOCTYPE html>
<html>
<head>
  <title>MyJams</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-wrapper grey">
      <a class="brand-logo center">My Jams</a>
      <ul class="right hide-on-med-and-down white-text">
        <% if current_user && current_user.admin? %>
          <li>Admin: <%= current_user.username %> </li>
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
          <li> <%= link_to 'Admin Dash', admin_categories_path %> </li>
        <% elsif current_user %>
          <li>Logged In As: <%= current_user.username %> </li>
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', login_path %></li>
          <li><a href="/users/new">Create Account!</a></li>
        <% end %>
      </ul>
      <ul class="left hide-on-med-and-down white-text">
        <li><a href="/"><i class="material-icons">home</i></a></li>
        <li><a href="/artists">Artists</a></li>
        <li><a href="/songs">Songs</a></li>
      </ul>
    </div>
  </nav>
  <div class="container center">
    <%= flash.now[:message] %>
    <%= flash[:errors] %>
    <%= flash[:notice] %>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
